@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@{
    ViewData["Title"] = "Notification Center";
}

<div class="text-center">
    <h1 class="display-4">Hi, @HttpContextAccessor.HttpContext?.Session.GetString("Username")</h1>
</div>
